@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --form-text: rgb(60, 72, 80);
}
body {
  min-height:100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: 38%;
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
}
.icon-container {
  flex: 0 1 auto;
  font-family: Norse-Bold;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
  width: 100%;
  margin-top: 14rem;
  background-color: rgba(0,0,0,0.5);
}
.icon-container img {
  width: auto;
  height: 80%;
}
.footer-text {
  margin-bottom: 1rem;
}
.footer-text a:link{
  color: white;  
}
.main{
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 8rem;
  overflow-x: hidden;
}
.main > div {
  padding: 2rem;
}
.text-block{
  display: flex;
  flex-direction: column;
}
.form-block{
  box-shadow: 0 4px 4px 0px rgb(179, 179, 179);
}
.service {
  max-width: 45rem;
}
.sign-up-text{
  margin-bottom: 2rem;
}
.motivation-text{
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: var(--form-text);
}
.italic {
  font-style: italic;
}
.form-container{
  display: flex;
  max-width: 40rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-element {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-element label {
  font-size: 0.75rem;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: var(--form-text);
}
input:focus {
  outline: none;
}
input{
  height: 1.5rem;
  border: solid 1px #a3a5a8;
  border-radius: 0.2rem;
}
.form-element input:invalid {
  border: solid 1px rgb(255, 80, 80);
  box-shadow: 0px 0px 1px 1px rgb(255, 132, 132);
}
.form-element input:focus{
  border: solid 1px rgb(87, 85, 194);
  box-shadow: 0px 0px 1px 1px rgb(158, 156, 235);
}
button{
  box-shadow: none;
}
button, button:active{
  border: none;
}
.create-account {
  color: white;
  background-color: #596D48;
  border-radius: 0.4rem;
  padding: 0.8rem 2.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 4px 0px rgb(179, 179, 179);
}
.create-account:active {
  box-shadow: inset 2px 4px 4px -2px rgb(83, 83, 83);
}
.login-text {
  font-size: 1rem;
  font-weight: normal;
}
.login-text a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}